services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - ./backend/data:/app/data
    ports:
      - "50051:50051"
    develop:
      watch:
        - action: sync+restart
          path: ./backend/api
          target: /app/api
        - action: sync+restart
          path: ./backend/taxos
          target: /app/taxos

  envoy:
    image: envoyproxy/envoy:v1.28-latest
    volumes:
      - ./backend/envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
    ports:
      - "8080:8080"
      - "9901:9901" # Admin interface
    depends_on:
      - backend

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - "5173:5173"
    environment:
      - GRPC_API_URL=http://localhost:8080
    develop:
      watch:
        - action: sync
          path: ./frontend/src
          target: /app/src
        - action: rebuild
          path: ./frontend/package.json
    depends_on:
      - envoy
